.home-sm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .home-sm-container {
    display: none;
  }
}

.home-lg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: none;
}
@media screen and (min-width: 768px) {
  .home-lg-container {
    display: block;
  }
}
